body {
    font-family: Arial;
    display: flex;
    align-items: center;
    margin: 0 ;
    background-image: url(../images/board-73496_1280.webp);
    background-size: cover;
}   
h1{

    margin-top:130px;
    color:white;
    font-weight: 700;
}
.container{
    text-align: center;
    margin: 5% auto;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    margin-top:20px;
}

.cell:hover {
    background-color: #ddd;
}

button {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: chocolate;
    cursor: pointer;
    border:2px solid black;
}

#status {
    font-size: 1.2em;
    margin-top: 10px;
}